*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

header{
    width: 100%;
    height: fit-content;
    background-color: #336DAF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #AF0F0F;
    height: 88vh;
}

.containerLista{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 95vw;
    background-color: #336DAF;
    border-radius: 10px;
}

.holderLista{
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68vh;
    width: 94vw;
    background-color: #AF0F0F;
    border-radius: 10px;
}

.lista{
    height: 66vh;
    width: 94vw;
    overflow-y: auto;
    background-color: #AF0F0F;
    border-radius: 10px;
}

.modal-body{
    background-color: #AF0F0F;
}

.sair{
    display: flex;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100%;
}

.cardPaginaEdicaoFilmes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 20px;
    background-color: #AF0F0F;
}

.cardPaginaEdicaoIMG{
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #336DAF;

}

.imgPaginaEdicao{
    padding: 16px;
    height: 400px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}

.legendaCapaFilmeEdicao{
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.imgCapaFilmeEdicao{
    display: flex;
    height: 64px;
    width: 268px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
}

.classificacaoEdicao{
    display: flex;
    flex-direction: column;
    height: 128px;
    width: 268px;
    align-items: center;
    justify-content: center;
}

.legendaClassificacaoFilmeEdicao{
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.classificacoes{
    display: flex;
    height: 64px;
    width: 268px;
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
}

.optionClassificacao{
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    background-color: #336DAF;
}

.infoFilmePaginaEdicao{
    width: 600px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tituloPaginaEdicao{
    width: 400px;
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
}

.legendaComSinopsePaginaEdicao{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.legendaSinopsePaginaEdicao{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 32px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.sinopsePaginaEdicao{
    width: 600px;
    padding: 8px;
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: justify;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;

}

.holderDtLancaPaginaEdicao{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px 24px;
    align-items: center;
    justify-content: center;
}

.dtLanca_RelancaPaginaEdicao{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px 24px;
    align-items: center;
    justify-content: space-evenly;
}

.legendaComDtLancaPaginaEdicao{
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
}

.legendadtLancaPaginaEdicao{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.dtLancaPaginaEdicao{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
}

.legendaComDtRelancaPaginaEdicao{
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
}

.legendadtRelancaPaginaEdicao{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.dtRelancaPaginaEdicao{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
}

.legendaComDuracaoEdicao{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px 120px;
    align-items: center;
    justify-content: space-between;
}

.legendaDuracaoEdicao{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.duracaoPaginaEdicao{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
}

.valorECompraEdicao{
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.legendaComValorUnitarioEdicao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legendaValorEdicao{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.valorUnitarioPaginaEdicao{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
}

.btn_Salvar{
    background-color: #336DAF;
    color: #ffff;
}

.cardPaginaUserViewFilmes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 20px;
    background-color: #AF0F0F;
}

.cardPaginaUserViewIMG{
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #336DAF;

}

.imgPaginaUserView{
    padding: 16px;
    height: 400px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}

.classificacaoUserView{
    display: flex;
    height: 64px;
    width: 64px;
    align-items: center;
    justify-content: center;
}

.classificacaoUserView img{
    display: flex;
    height: 64px;
    width: 64px;
}

.infoFilmePaginaUserView{
    width: 600px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tituloPaginaUserView{
    font-size: 36px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.legendaComSinopsePaginaUserView{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.legendaSinopsePaginaUserView{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 32px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.sinopsePaginaUserView{
    width: 600px;
    padding: 8px;
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: justify;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
    border: 2px solid white;
    border-radius: 5px;
}

.holderDtLancaPaginaUserView{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px 24px;
    align-items: center;
    justify-content: center;
}

.dtLanca_RelancaPaginaUserView{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px 24px;
    align-items: center;
    justify-content: space-evenly;
}

.legendaComDtLancaPaginaUserView{
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
}

.legendadtLancaPaginaUserView{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.dtLancaPaginaUserView{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
}

.legendaComDtLancaPaginaUserView2{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px 0px;
    align-items: center;
    justify-content: space-evenly;
}

.legendadtLancaPaginaUserView2{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.dtLancaPaginaUserView2{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
}

.legendaComDtRelancaPaginaUserView{
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
}

.legendadtRelancaPaginaUserView{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.dtRelancaPaginaUserView{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
}

.legendaComDuracaoUserView{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px 120px;
    align-items: center;
    justify-content: space-between;
}

.legendaDuracaoUserView{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.duracaoPaginaUserView{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
}

.valorECompraUserView{
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.legendaComValorUnitario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legendaValorUserView{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.valorUnitarioPaginaUserView{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
}

.btn_comprarUserView{
    background-color: #336DAF;
    color: #ffff;
}

.sairCriacao{
    display: flex;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100%;
}

.paginaCriacaoFilmes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 20px;
    background-color: #AF0F0F;
}

.cardPaginaCriacaoIMG{
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #336DAF;

}

.imgPaginaCriacao{
    padding: 16px;
    height: 400px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}

.legendaCapaFilmeCriacao{
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.imgCapaFilmeCriacao{
    display: flex;
    height: 64px;
    width: 268px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
}

.classificacaoCriacao{
    display: flex;
    flex-direction: column;
    height: 128px;
    width: 268px;
    align-items: center;
    justify-content: center;
}

.legendaClassificacaoFilmeCriacao{
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.selectClassificacoesCriacao{
    display: flex;
    height: 64px;
    width: 268px;
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
}

.optionClassificacao{
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    background-color: #336DAF;
}

.infoFilmePaginaCriacao{
    width: 600px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tituloPaginaCriacao{
    width: 400px;
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
}

.legendaComSinopsePaginaCriacao{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.legendaSinopsePaginaCriacao{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 32px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.sinopsePaginaCriacao{
    width: 600px;
    padding: 8px;
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: justify;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;

}

.holderDtLancaPaginaCriacao{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px 24px;
    align-items: center;
    justify-content: center;
}

.dtLanca_RelancaPaginaCriacao{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px 24px;
    align-items: center;
    justify-content: space-evenly;
}

.legendaComDtLancaPaginaCriacao{
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
}

.legendadtLancaPaginaCriacao{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.dtLancaPaginaCriacao{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
}

.legendaComDtRelancaPaginaCriacao{
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
}

.legendadtRelancaPaginaCriacao{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.dtRelancaPaginaCriacao{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
}

.legendaComDuracaoCriacao{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px 120px;
    align-items: center;
    justify-content: space-between;
}

.legendaDuracaoCriacao{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.duracaoPaginaCriacao{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
}

.valorECompraCriacao{
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.legendaComValorUnitarioCriacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legendaValorCriacao{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.valorUnitarioPaginaCriacao{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
    background-color: transparent;
        border: 2px solid white;
    border-radius: 5px;
}

.btn_Criar_Filme{
    background-color: #336DAF;
    color: #ffff;
}