.barraPesquisa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 12vh;
    gap: 20px;
}

.menuBurguer{
    padding: 0;
    height: 56px;
    width: 56px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.buttonMenu{
    padding: 0;
    height: 56px;
    width: 56px;
    align-items: center;
    justify-content: center;
    background-color: transparent;    
    border: none;
}

.buttonMenu img{
    padding: 0;
    height: 56px;
    width: 56px;
    align-items: center;
    justify-content: center;
    background-color: transparent;    
    border: none;
}

.logoPrincipal{
    display: flex;
    padding: 0;
    height: 64px;
    width: 180px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.buttonHome{
    display: flex;
    padding: 0;
    height: 64px;
    width: 180px;
    align-items: center;
    justify-content: center;
    background-color: #fff;    
    border-radius: 50px;
    border: none;
}

.buttonHome img{
    padding: 0;
    height: 56px;
    width: 144px;  
    border: none;
}

.campoPesquisa{
    padding: 0;
    height: 64px;
    width: 70vw;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;    
    border-radius: 50px;
    border: none;
    gap: 30px;
}

.inputPesquisa{
    padding: 1%;
    height: 52px;
    width: 60vw;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5px;
}

.iconPesquisa{
    padding: 0;
    height: 52px;
    width: 52px;
    align-items: center;
    justify-content: center;
    background-color: transparent;    
    border-radius: 100%;
}

.buttonPesquisa{
    padding: 0;
    height: 52px;
    width: 52px;
    align-items: center;
    justify-content: center;
    background-color: transparent;    
    border: none;
}

.buttonPesquisa img{
    padding: 0;
    height: 52px;
    width: 52px;
    align-items: center;
    justify-content: center;
    background-color: transparent;    
    border: none;
}

.iconPerfil{
    display: flex;
    padding: 0;
    height: 64px;
    width: 64px;
    align-items: center;
    justify-content: center;
}

.buttonPerfil{
    display: flex;
    padding: 0;
    height: 64px;
    width: 64px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
}

.buttonPerfil img{
    padding: 0;
    height:64px;
    width:64px;
    border-radius: 100%;
}