*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

header{
    width: 100%;
    height: fit-content;
    background-color: #336DAF;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #AF0F0F;
}

.cardsHolder{
    display: grid;
    padding: 40px;
    height: max-content;
    width: 100%;
    background-color: #AF0F0F;
    grid-template-areas: 
    "cardFilmes cardFilmes cardFilmes cardFilmes cardFilmes"
    "cardFilmes cardFilmes cardFilmes cardFilmes cardFilmes";
    align-items: center;
    justify-content: space-evenly;
    gap:40px
}

.cardFilmes{
    display: flex;
    flex-direction: column;
    height: 56vh;
    width: 16vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #336DAF;
    border-radius: 25px;
}

.cardIMG{
    display: flex;
    height: 35vh;
    width: 12vw;
    overflow: hidden;
    border-radius: 25px;
}

.banner{
    height: 35vh;
    width: 12vw;
}
.avaliacoes{
    
}
.starIMG{
    background-image: url("../../image/png/Star.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.infoFilme{
    width: 10vw;
    height: 12vh;
}

.titulo{
    font-size: 16px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
}

.duracao{
    font-size: 16px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
}

.dtLanca{
    font-size: 16px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
}

.modalLogin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

