*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

header{
    width: 100%;
    height: fit-content;
    background-color: #336DAF;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #AF0F0F;
}

.cardsHolder{
    display: grid;
    padding: 40px;
    height: max-content;
    width: 100%;
    background-color: #AF0F0F;
    grid-template-areas: 
    "cardFilmes cardFilmes cardFilmes cardFilmes cardFilmes"
    "cardFilmes cardFilmes cardFilmes cardFilmes cardFilmes";
    align-items: center;
    justify-content: space-evenly;
    gap:40px
}


.cards{
    display: flex;
    flex-direction: column;
    height: 56vh;
    width: 16vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #336DAF;
    border-radius: 25px;
}

.cardFilmes{
    display: flex;
    flex-direction: column;
    height: 56vh;
    width: 16vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #336DAF;
    border-radius: 25px;
}

.cardIMG{
    display: flex;
    height: 35vh;
    width: 12vw;
    overflow: hidden;
    border-radius: 25px;
}

.banner{
    height: 35vh;
    width: 12vw;
}
.avaliacoes{
    
}
.starIMG{
    background-image: url("../../image/png/Star.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.infoFilme{
    width: 13vw;
    height: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo{
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    color: white;
}

.duracao{
    font-size: 16px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    color: white;
}

.dtLanca{
    font-size: 16px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    color: white;
}

.modalLogin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.modal-body{
    background-color: #AF0F0F;
}

.sair{
    display: flex;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100%;
}

.cardPaginaFilmes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 20px;
    background-color: #AF0F0F;
}

.cardPaginaIMG{
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #336DAF;

}

.imgPagina{
    padding: 16px;
    height: 400px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}

.classificacao{
    display: flex;
    height: 64px;
    width: 64px;
    align-items: center;
    justify-content: center;
}

.classificacao img{
    display: flex;
    height: 64px;
    width: 64px;
}

.infoFilmePagina{
    width: 600px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tituloPagina{
    font-size: 36px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.legendaComSinopsePagina{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.legendaSinopsePagina{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 32px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.sinopsePagina{
    width: 600px;
    padding: 8px;
    font-size: 18px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: justify;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

.holderDtLancaPagina{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px 24px;
    align-items: center;
    justify-content: center;
}

.dtLanca_RelancaPagina{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px 24px;
    align-items: center;
    justify-content: space-evenly;
}

.legendaComDtLancaPagina{
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
}

.legendadtLancaPagina{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.dtLancaPagina{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
}

.legendaComDtLancaPagina2{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px 0px;
    align-items: center;
    justify-content: space-evenly;
}

.legendadtLancaPagina2{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.dtLancaPagina2{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
}

.legendaComDtRelancaPagina{
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
}

.legendadtRelancaPagina{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.dtRelancaPagina{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
}

.legendaComDuracao{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding: 0px 120px;
    align-items: center;
    justify-content: space-between;
}

.legendaDuracao{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.duracaoPagina{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
}

.valorECompra{
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.legendaComValorUnitario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legendaValor{
    font-size: 28px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.valorUnitarioPagina{
    font-size: 24px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    color: white;
}

.btn_comprar{
    background-color: #336DAF;
    color: #ffff;
}